@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151111;
  color: gray;
}
select {
  background-color: #151111;
  border: 1px solid #c49b63;
  padding: 5px 5px;
  min-width: 100px;
  &:focus {
    outline: none;
  }
  option {    
    &:selection {
      background-color: yellow;
    }
    &:checked {
      background-color: #c49c6350;
      color: #fff;
    }
  }
}
input {
  background-color: #151111;
  border: 1px solid #c49b63;
  padding: 5px 5px;
  min-width: 100px;
  height: 34px;
  &:focus {
    background-color: #c49b6312;
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 7px;
  // height: 3px;
  height: 0;
}
::-webkit-scrollbar-button {
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #c49b63;
}
::-webkit-scrollbar-track {
  background-color: rgba(#fff, .12);
}

.page {
  max-width: 1200px;
  margin: auto;
}